@model EmployeeManagementSystem.Models.Employee

@{
    ViewBag.Title = "Edit Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0"><i class="fa fa-edit"></i> Edit Employee</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Edit", "Employee", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.EmployeeId)
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                        @Html.Partial("_EmployeeForm")

                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Update Employee</button>
                            @Html.ActionLink("Cancel", "Index", "Employee", null, new { @class = "btn btn-secondary ml-2" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        // On load, designations are already populated from server
        // On change, reload via AJAX
        $('#DepartmentId').on('change', function () {
            var deptId = $(this).val();
            $('#DesignationId').empty().append('<option value="">-- Select Designation --</option>');
            if (deptId) {
                $.getJSON('@Url.Action("GetDesignations", "Employee")', { departmentId: deptId }, function (data) {
                    $.each(data, function (i, item) {
                        $('#DesignationId').append('<option value="' + item.DesignationId + '">' + item.DesignationName + '</option>');
                    });
                });
            }
        });
    </script>
}
